
#calculator-app {
    display: none;
    height: 100%;
    width: 98%;
    background-color: #1c191c;
    padding: 1.5vh;
    border: 5px solid #666666;
    margin: 0;
}

.box {
    text-align:right;
    height: 3vh;
    font-size: large;
    line-height: 3.8vh;
    color: white;
    border-radius: 10px;
}

#last_operation_history {
    height: 1.8vh;
    font-size: 2vh;
    text-align:right;
    padding-right: 1.5vh;
    padding-top: 0.7vh;
    color: rgb(177, 176, 176);
}

table {
    height: 60%;
    width: 85%;
    border-spacing: 0px;
    border:0;
}

td, th {
    border:0;
 }

button {
    height: 7.2vh;
    width: 6.2vh;
    font-weight:bold;
    font-size: 3vh;
    background: linear-gradient(to bottom, rgba(202,202,204,1) 0%, rgba(196,194,204,1) 100%);
    color: white;
    border-top: 1px solid #777;
    border-right: 1px solid #666;  
}

button:hover {
    background-color: #1b1b1b;
}

.operator {
    background:  linear-gradient(to bottom, rgba(252,156,23,1) 0%, rgba(247,126,27,1) 100%);
}

.operator:hover {
    background-color: #ffd11a;
}

a:link {
    color:white;
    text-decoration: none;
}

.table {
    width: 100%;
}

a:hover {
    color: black;
}

