@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.garage-app {
    display: none;
    height: 100%;
    width: 100%;
    background: rgb(20, 20, 20);
    overflow: hidden;
}

.garage-app-header {
    position: absolute;
    height: 9vh;
    font-weight: bold;
    width: 100%;
    text-align: center;
    line-height: 13.5vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vh;
}

.garage-homescreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0vh;
}

.garage-detailscreen {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -30vh;
}

.garage-vehicles {
    position: absolute;
    width: 85%;
    height: 44.5vh;
    top: 10.5vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.garage-vehicles::-webkit-scrollbar {
    display: none;
}

.garage-vehicle {
    position: relative;
    height: 5vh;
    width: 100%;
    /* background: linear-gradient(to right, rgba(62, 131, 196, 0.897),rgba(62, 131, 196, 0)); */
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    border-radius: 15px;
    text-align: center;
    transition: .08s linear;
    margin-bottom: 15px;
}

.garage-vehicle-firstletter {
    position: relative;
    background-color: #00000000;
    font-size: 1px;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: .05s linear;
}

.garage-vehicle:hover {
    border-bottom: 2px solid #dc143c;
}

.garage-vehicle-name {
    position: absolute;
    left: 20%;
    color: white;
    line-height: 5vh;
    font-weight: 400;
    font-size: 1.2vh;
    font-family: 'Poppins', sans-serif;
}

.garage-cardetails {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.1); */
    height: 76%;
    width: 84%;
    margin: 0 auto;
    left: 0vh;
    right: 0;
    top: 11vh;
}

.vehicle-brand {
    position: relative;
    width: 100%;
    /* background: linear-gradient(to right, #0052d4, #4364f78f, #6fb1fc00); */
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    padding: .8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}

.vehicle-model {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    padding: .8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}

.vehicle-plate {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    padding: .8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}

.vehicle-garage {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    padding: .8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}

.vehicle-status {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    padding: .8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}

.vehicle-fuel {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    padding: .8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}

.vehicle-engine {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    padding: .8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}

.vehicle-body {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #0c0c0c, #6fb1fc00);
    border-bottom: 2px solid rgb(107, 188, 255);
    padding: .8vh;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1vh;
    font-size: 1.2vh;
}


.vehicle-answer {
    float: right;
    font-size: 1.1vh;
}


.return-track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return-track > div {
    margin: 2px;
    width: 50%;
    height: 5vh;
    background: linear-gradient(to right, #dddddd, #ffffffc7);
    border-radius: .3vh;
    transition: .05s linear;
    text-align: center;
    font-weight: bold;
    line-height: 5vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4vh;
}

.return-track > div:hover {
    background: linear-gradient(to right, #9e9e9e, #dadadac7);
}
